<!--&lt;!&ndash;layoue.html&ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="/css/register.css">-->
<!--</head>-->
<!--<body>-->

<!--<div th:replace="~{layoutFragments/header :: header}"></div>-->

<!--<div class="content"></div>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE">GoodFood</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

<div th:replace="~{layoutFragments/header :: header}"></div>

<div layout:fragment="content" class="content">
    <!-- Сюда будет вставляться контент из других страниц -->
</div>

<div th:replace="~{layoutFragments/footer :: footer}"></div>

</body>
</html>