<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="">
    <main>
        <div class="main__last_news block_news">
            <h2>Последние новости</h2>
            <div class="last_news__watch_all">
                <a href="#">Смотреть все</a>
                <img src="./img/arr.png" alt="" />
            </div>
            <div class="parent">
                <div class="div1">
                    <img src="./img/carier.png" alt="" />
                    <p class="category">Карьера и развитие</p>
                    <h4>Запуск новых программ обучения</h4>
                    <p>
                        Информация о сотрудничестве с образовательными учреждениями для
                        запуска курсов и тренингов по актуальным технологиям. Программы
                        стажировок для студентов...
                    </p>
                </div>
                <div class="div2 news">
                    <img src="./img/AI.jpeg" alt="" />
                    <div class="div__information">
                        <p class="category">Рынок труда</p>
                        <h4>Рост спроса на специалистов в области ИИ</h4>
                        <p>
                            Недавно было проведено исследование, которое показало
                            значительный рост спроса на специалистов в области
                            искусственного...
                        </p>
                    </div>
                </div>
                <div class="div3 news" >
                    <img src="./img/people.png" alt="" />
                    <div class="div__information">
                        <p class="category">IT-индустрия</p>
                        <h4>Новые тренды в рекрутменте IT-специалистов</h4>
                        <p>
                            Согласно недавнему отчету, кадровые агентства в IT-сфере
                            начинают применять новые методы рекрутмента, такие как...
                        </p>
                    </div>
                </div>
                <div class="div4 news">
                    <img src="./img/sertificat.png" alt="" />
                    <div class="div__information">
                        <p class="category">Карьера и развитие</p>
                        <h4>Образование и сертификация в IT</h4>
                        <p>
                            Кадровое агентство может проинформировать о новых
                            образовательных программах и курсах...
                        </p>
                    </div>
                </div>
                <div class="div5 news" >
                    <img src="./img/conf.jpg" alt="" />
                    <div class="div__information">
                        <p class="category">IT-индустрия</p>
                        <h4>Участвование в выставках и конференциях</h4>
                        <p>
                            Сообщества и события становятся важной частью жизни рекрутеров.
                            Кадровое агентство может публиковать новости о предстоящих...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__matket block_news">
            <h2>Рынок труда</h2>
            <div class="last_news__watch_all">
                <a href="#">Смотреть все</a>
                <img src="./img/arr.png" alt="" />
            </div>
            <div class="parent">
                <div class="div1">
                    <img src="./img/security-work.png" alt="" />
                    <p class="category">Рынок труда</p>
                    <h4>
                        Увеличение спроса на специалистов в области кибербезопасности
                    </h4>
                    <p>
                        С учетом роста числа кибератак и утечек данных, компании стали
                        активнее искать профессионалов в области кибербезопасности....
                    </p>
                </div>
                <div class="div2 news">
                    <img src="./img/dist.png" alt="" />
                    <div class="div__information">
                        <p class="category">Рынок труда</p>
                        <h4>Удаленная работа остаётся трендом</h4>
                        <p>
                            После пандемии многие компании не только сохранили, но и
                            расширили возможность удаленной работы для IT-специалистов. В
                            новости...
                        </p>
                    </div>
                </div>
                <div class="div3 news" >
                    <img src="./img/aii.png" alt="" />
                    <div class="div__information">
                        <p class="category">Рынок труда</p>
                        <h4>Популярность технологий искусственного интеллекта</h4>
                        <p>
                            Рынок труда в IT всё более активно использует технологии ИИ и
                            машинного обучения...
                        </p>
                    </div>
                </div>
                <div class="div4 news" >
                    <img src="./img/zz.png" alt="" />
                    <div class="div__information">
                        <p class="category">Рынок труда</p>
                        <h4>Изменения в законодательстве, касающиеся IT-работников</h4>
                        <p>
                            Недавние изменения в трудовом законодательстве могут повлиять на
                            условия труда IT-специалистов...
                        </p>
                    </div>
                </div>
                <div class="div5 news" >
                    <img src="./img/rost.png" alt="" />
                    <div class="div__information">
                        <p class="category">Рынок труда</p>
                        <h4>Рост числа стартапов в IT-сфере</h4>
                        <p>
                            Стартапы продолжают активно развиваться, привлекая инвестиции и
                            создавая новые рабочие места. В этом разделе можно рассказать о
                            наиболее...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__IT block_news">
            <h2>IT-индустрия</h2>
            <div class="last_news__watch_all">
                <a href="#">Смотреть все</a>
                <img src="./img/arr.png" alt="" />
            </div>
            <div class="parent">
                <div class="div1">
                    <img src="./img/salary.jpeg" alt="" />
                    <p class="category">IT-индустрия</p>
                    <h4>Рост зарплат в IT-секторе</h4>
                    <p>
                        С недавними исследованиями рынка труда можно поделиться данными о
                        том, как изменились зарплаты IT-специалистов в различных ...
                    </p>
                </div>
                <div class="div2 news">
                    <img src="./img/trends.png" alt="" />
                    <div class="div__information">
                        <p class="category">IT-индустрия</p>
                        <h4>Тренды в обучении и повышении квалификации</h4>
                        <p>
                            С увеличением потребности в высококвалифицированных кадрах можно
                            рассказать о новых курсах, онлайн-платформах...
                        </p>
                    </div>
                </div>
                <div class="div3 news" >
                    <img src="./img/chenges.jpeg" alt="" />
                    <div class="div__information">
                        <p class="category">IT-индустрия</p>
                        <h4>Изменения в потребностях работодателей</h4>
                        <p>
                            Согласно недавнему отчету, кадровые агентства в IT-сфере
                            начинают применять новые методы рекрутмента, такие как...
                        </p>
                    </div>
                </div>
                <div class="div4 news" >
                    <img src="./img/gibgr.png" alt="" />
                    <div class="div__information">
                        <p class="category">IT-индустрия</p>
                        <h4>Удаленная работа и гибкие графики</h4>
                        <p>
                            Работодатели в IT-сфере продолжают адаптироваться к изменениям в
                            спросе на специалистов. В этой новости можно рассмотреть,
                            какие...
                        </p>
                    </div>
                </div>
                <div class="div5 news" >
                    <img src="./img/feature.png" alt="" />
                    <div class="div__information">
                        <p class="category">IT-индустрия</p>
                        <h4>Будущее карьер в IT: как изменятся профессии</h4>
                        <p>
                            Статьи о будущем IT-индустрии могут охватывать вопросы,
                            касающиеся автоматизации, искусственного интеллекта...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__Career block_news">
            <h2>Карьера и развитие</h2>
            <div class="last_news__watch_all">
                <a href="#">Смотреть все</a>
                <img src="./img/arr.png" alt="" />
            </div>
            <div class="parent">
                <div class="div1">
                    <img src="./img/trends.png" alt="" />
                    <p class="category">Карьера и развитие</p>
                    <h4>Анализ текущих трендов на рынке труда в IT: 2024 год</h4>
                    <p>
                        Сейчас, как никогда, важно быть в курсе последних трендов в мире
                        IT. В этой статье будет представлен подробный анализ сектора с
                        акцентом на...
                    </p>
                </div>
                <div class="div2 news" >
                    <img src="./img/softskills.png" alt="" />
                    <div class="div__information">
                        <p class="category">Карьера и развитие</p>
                        <h4>Развитие софт-скиллов: ключ к успешной карьере в IT</h4>
                        <p>
                            Софт-скиллы становятся все более значимыми в конкурентной среде.
                            В данной статье: - Будет проведен анализ...
                        </p>
                    </div>
                </div>
                <div class="div3 news" >
                    <img src="./img/popular.png" alt="" />
                    <div class="div__information">
                        <p class="category">Карьера и развитие</p>
                        <h4>
                            Обзор популярных сертификатов для IT-специалистов в 2024 году
                        </h4>
                        <p>
                            Престижные сертификаты могут значительно повысить шансы на
                            успешное трудоустройство...
                        </p>
                    </div>
                </div>
                <div class="div4 news" >
                    <img src="./img/work.png" alt="" />
                    <div class="div__information">
                        <p class="category">Карьера и развитие</p>
                        <h4>
                            Удаленная работа: как выстроить эффективную коммуникацию в
                            команде
                        </h4>
                        <p>
                            С учетом увеличения числа удаленных команд, будет рассмотрено,
                            как...
                        </p>
                    </div>
                </div>
                <div class="div5 news" >
                    <img src="./img/strategies.png" alt="" />
                    <div class="div__information">
                        <p class="category">Карьера и развитие</p>
                        <h4>Стратегии карьерного роста в IT: отJunior до Team Lead</h4>
                        <p>
                            Данная статья предложит читателям пошаговые рекомендации по
                            карьерному росту...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>