footer {
    background-color: #468966;
    width: 100%;
    height: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer_logo {
    margin-left: 20px;
    width: 98px;
    height: 86px;
}

footer .menu_footer {
    display: flex;
    gap: 34px;
    margin: 0 20px;
}

footer .menu_footer a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

footer .menu_footer a:hover {
    color: #67E667;
    transition: .3s ease;
}

.social_footer {
    display: flex;
    align-items: center;
}

.social_footer .imges {
    display: flex;
    gap: 17px;
    margin: 0 20px;
}

.social_footer .imges a {
    text-decoration: none;
}

.social_footer .phone p {
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
}
