<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Профиль пользователя</title>
    <link th:href="@{/css/user-profile.css}" rel="stylesheet" />
</head>
<body>
<div layout:fragment="content" class="container">
    <h1>Профиль пользователя</h1>

    <div  class="profile-card">
        <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
        <p><strong>Логин:</strong> <span th:text="${user.username}"></span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
        <p><strong>Адрес:</strong>
            <span th:text="${user.city + ', ' + user.street + ', д.' + user.house + ', кв.' + user.apartment}">-</span>
        </p>


        <h3>Заказы пользователя</h3>
        <div th:if="${user.orders.empty}">
            <p>У пользователя нет заказов.</p>
        </div>
        <div th:unless="${user.orders.empty}">
            <table>
                <thead>
                <tr>
                    <th>ID заказа</th>
                    <th>Дата</th>
                    <th>Статус</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${user.orders}">
                    <td th:text="${order.id}">ID</td>
                    <td th:text="${#temporals.format(order.createdAt, 'dd.MM.yyyy HH:mm')}">Дата</td>
                    <td th:text="${order.status}">Статус</td>
                    <td th:text="${order.totalAmount}">Сумма</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="/admin/users" class="btn-back">Назад к списку</a>
</div>
</body>
</html>